.signin_container {
    background-color: #1890FF;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body {
    width: 60%;

}
.body_formSignIn_input {
    text-align: left;
}
